[package]
name = "dorkfs"
version = "0.1.0"
authors = ["Markus Hosch <markus.hosch@gmx.net>"]
edition = "2018"

[features]
gitcache = ["git2"]

[dependencies]
clap = "2.30"
failure = "0.1"
failure_derive = "0.1"
libc = "0.2"
log = "0.4"
env_logger = "0.5"
chrono = { version = "0.4", features = ["serde"] }
time = "*"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
tiny-keccak = "1.4"
rand = "0.5"
lazy_static = "1.0"
tempfile = "3.0"
git2 = { version = "0.8", optional = true }
hyper = "0.12"
hyper-tls = "0.3"
http = "0.1"
futures = "0.1"
tokio = "0.1"
base64 = "0.9"
bytes = "0.4"

[target.'cfg(target_os = "linux")'.dependencies]
fuse_mt = "0.4"
